body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  font-weight: normal;
  color: #ffffff;

  background: #849d8f;
}

img {
  max-width: 100%
}

a {
   text-decoration: none;
}

.button {
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 24px;
  text-align:center;
  color: : #fefefe;

  border:none;

}

.main-header {
  display:flex;
  margin-bottom: 10 px;
  /*-------- Временно для сетки ---------------- */
  min-height: 64px;
}


.main-header-logo {
  display: flex;
  width: 154px;
  height: 64px;
  margin-right: auto;
}


.main-navigation {
  display:flex;
  justify-content: space-between;
}

.main-navigation a {
  font: inherit;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: normal;
  text-decoration:underline;
  text-align:left;
  color: #ffffff;
}

.main-navigation a:hover,
.main-navigation a:focus, {
  background-color: #ffbc9e
}

.user-navigation {
  display:flex;
  justify-content: space-between;

  margin-left:auto;
  font:inherit;
  font-size: 14px;
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
  width: auto;
  margin: auto;
  /*вот здесь вопрос, как лучше планировать сетку, я правильно думаю, что здесь должно быть рядом два блока, один для breadcrumbs, другой для часов работы и телефона?*/

  font: inherit;
  line-height: 16px;
  font-size: 14px;
}

.page-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}

/*здесь ссылка упорно не делается белой, что не так*/
.shopping-cart-item a {
  color: #ffffff;
}

.catalog {
  width: auto;
  justify-content: space-between;
  margin: auto; /* или задавать по 27 справа и слева?*/
  margin-top: 40 px;

}

.catalog-image-wrapper {
  display: flex;
  width: 267 px;
  margin: auto; /* ну вот тут начались вопросы, как их строить в ряд и сверху вниз: с помощью first-chil, nth-child?*/
}

.about-us {
  display:flex;
  width: 1146 px;
  margin-top: auto;
  margin-bottom: 40px;
  margin-right: 27px; /*не знаю, как лучше, писать здесь auto или задавать фиксированное значение?*/
  maring-left: 27px;

  color:#323232;

  /*background-color: ;*/

  /*background-image: url("...img/about-background.png");
  background-size: width: 1146px; height: 306px;
  background-repeat: no-repeat;
  border-radius: 15px;*/
}

.about-us h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.about-us .about-us-list {
  line-height: 22px;
}

.blog-subscribe-wrapper {
 display: flex;
 justify-content: space-between;
 margin-right: 27px; /* тот же вопрос: auto или фиксированное значение?*/
 maring-left: 27px;
}


.blog {
  display: flex;
  width: 560 px;

  color: #5a5a5a;
  font-size: 16px;

  /*background-color:;*/
  /*background-image: url("...img/blog.jpg");
  background-size: 560px; height: 220px;

  border-radius: 15px;*/
}

.blog h3 {
  font: inherit;
  color: #323232;
}

.blog a {
  font:inherit;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
}

.subscribe {
  display: flex;
  width: 560 px;

  font: inherit;
  font-color: #5a5a5a;

  /*background-size: width: 549px;
  height: 211px;
  border-radius: 10px;
  background-color: #f8f7f4;*/
}

.list-subscribe-form {
  width: 368px;
  height: 44px;
  border-radius: 5px;
  border: solid 1px;
  background-color: #ffffff;

}

.main-footer {
  display: flex;
  width: auto;
  margin-top: auto;

}
.social-list {
  display: flex;
  width: 180 px; /*ширину этих трех элементов я считала приблизительно, сложила ширину небольших элементов вместе*/
  justify-content: space-between;
  margin-right: auto;
}

.social-button {
  text-align: center;
  width: 32 px;
  height: 32 px;
}

.business-information {
  display: flex;
  width: 760 px;
}

.business-information a {
  font-size: 13px;
  font-stretch: normal;
  line-height: 18;
  text-align: left;
  color: #ffffff;
}

.for-suppliers {
 font-weight: bold;
}

.footer-copyright {
  display: flex;
  width: 190 px;
  margin-left: auto;
  /*margin-right: ??? блок прижался к самому краю, нужно справа маргин задавать? Или общий маргин блоку задавать?*/
}

.footer-copyright a {
  font-size: 13px;
  color: #ffffff;
  text-align:left;
}
