body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  font-weight: normal;
  color: #ffffff;

  background: #849d8f;
}

img {
  max-width: 100%
}

a {
   text-decoration: none;
}

.button {
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 24px;
  text-align:center;
  color: : #fefefe;

  border:none;

}
.main-navigation a {
  font: inherit;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: normal;
  text-decoration:underline;
  text-align:left;
  color: #ffffff;
}

.main-navigation a:hover,
.main-navigation a:focus, {
  background-color: #ffbc9e
}

.user-navigation {
  font:inherit;
  font-size: 14px;
  color: #ffffff;
}

.breadcrumbs {
  font: inherit;
  line-height: 16px;
  font-size: 14px;
}

.page-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}

/*здесь ссылка упорно не делается белой, что не так*/
.shopping-cart-item a {
  color: #ffffff;
}

.about-us {
  color:#323232;

  /*background-color: ;*/

  /*background-image: url("...img/about-background.png");
  background-size: width: 1146px; height: 306px;
  background-repeat: no-repeat;
  border-radius: 15px;*/
}

.about-us h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.about-us .about-us-list {
  line-height: 22px;
}


.blog {
  color: #5a5a5a;
  font-size: 16px;

  /*background-color:;*/
  /*background-image: url("...img/blog.jpg");
  background-size: 560px; height: 220px;

  border-radius: 15px;*/
}

.blog h3 {
  font: inherit;
  color: #323232;
}

.blog a {
  font:inherit;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
}

.subscribe {
  font: inherit;
  font-color: #5a5a5a;

  /*background-size: width: 549px;
  height: 211px;
  border-radius: 10px;
  background-color: #f8f7f4;*/
}

.list-subscribe-form {
  width: 368px;
  height: 44px;
  border-radius: 5px;
  border: solid 1px;
  background-color: #ffffff;

}

.social-button {
  text-align: center;
}

.business-information a {
  font-size: 13px;
  font-stretch: normal;
  line-height: 18;
  text-align: left;
  color: #ffffff;
}

.for-suppliers {
 font-weight: bold;
}

.footer-copyright a {
  font-size: 13px;
  color: #ffffff;
  text-align:left;
}
